@charset "utf-8";
/*-------------------------------------------------------------------------*/
/*      브라우저 리셋      */
*{
    margin: 0;
    padding: 0;
    outline: none;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
}

a{
    text-decoration: none;
    color: black;
}

.wrap{
    background-color: rgba(233, 226, 136, 0.5);
    width: 100%;
    min-width: 1240px;
}

.Scroll{
    position : fixed;
    bottom : 50px;
    right : 50px;
    transform: scale(0.5);
}
.Scroll .iOff{
    display: none;
}

/*-------------------------------------------------------------------------*/
/*      헤더 라인      */

.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 118px;
    position : fixed;
    top : 0;
    left : 0;
}

.headerIn{
    display: flex;
    width: 1200px;
    height: 118px;
    margin-left: auto;
    margin-right: auto;
}

.headerIn .logo{
    margin-left: 50px;    
    margin-right: 50px;
    margin-top: 48px;
}

.headerIn .logo img{
    width: 113px;
    height: 22px;
}

.header .gnb{
    display: flex;
    width: 800px;
    align-items: center;
}

.titleEvent{
    display: none;
}

.gnb .gnbMenu{
    width: 140px;
    justify-content: space-between;
    margin: 0px 20px;
    text-align: center;
}

.headerIn .headerHidden{
    position: absolute;
    top: 118px;
    background-color: rgba(255, 209, 124, 0.9);
    height: 130px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.headerHidden ul li{
    line-height: 35px;
}

.headerHidden .gnbHidden{
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin-top: 10px;
    margin-left: 230px;
}

.gnbHidden .gnbHiddenMenu{
    width: 118px;
    text-align: center;
}

/*-------------------------------------------------------------------------*/
/*      메인 라인      */
.goodsContainer{
    padding-top: 118px;
}
.goodsContainer{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.goodsContainer .titleWrap{
    padding: 50px 50px;
}

.goodsContainer .searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.goodsContainer .searchBar input{
    border: 1px solid rgb(127, 124, 118);
    border-radius: 10px;
    font-size: 16px;
    width: 900px;
    height: 50px;
    margin-right: 30px;
    padding-left: 5px;
}

.goodsContainer .searchBar input:focus{
    outline: 2px solid rgb(248, 187, 0);
}

.goodsContainer .searchBar button{
    background-color: rgb(248, 187, 0);
    border-radius: 10px;
    width: 160px;
    height: 50px;
}

.goods .categoryWrap{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 20px 30px;
}

.goods .categoryWrap .category{
    display: flex;
    margin-left: 25px;
}

.category li{
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: 100px;
    margin-right: 30px;
}

.category a{
    line-height: 50px;
}

.category .dropLabel{
    justify-content: right;
}

.goods .goodsItem{
    margin: 20px 30px;
}

.goodsItem div{
    display: flex;
    justify-content: space-between;
}

.goodsItem li{
    border: 0.5px solid #ebebeb;
    border-radius: 10px;
    width: 230px;
    height: 375px;
    margin-bottom: 50px;
    padding: 20px;
}

.goodsItem a{
    text-align: center;
}

.goodsItem img{
    width: 230px;
    height: 300px;
}

.goodsItem button{
    background-color: rgb(255, 183, 0);
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

/*-------------------------------------------------------------------------*/
/*      푸터 라인      */

.footer{
    background-color: rgb(255, 255, 255);
    height: 334px;
}

.footer .footerIn{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.fnbWrap{
    display: flex;
    height: 33px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.fnbWrap ul{
    display: flex;
}

.footerContentsWrap{
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-bottom: 50px;
}

.companyInfo h3{
    margin-bottom: 30px;
}

.snsWrap ul{
    display: flex;
}

.snsWrap .tiktok{
    transform: scale(0.5);
}

.bgcWhite{
    background-color: white;
}