<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias alias="UserDTO" type="com.orange.user.domain.UserDTO" />
		<typeAlias alias="GoodsDTO" type="com.orange.goods.domain.GoodsDTO" />
		<typeAlias alias="BasketDTO" type="com.orange.basket.domain.BasketDTO" />
	</typeAliases>
	
</configuration>