* { 
	box-sizing:border-box; 
}
a { 
	text-decoration: none;
}

/*-------------------------------------------------------------------------*/
/*      헤더 라인      */

.header{
    width: 400px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.header .headerIn{
    margin-top: 20px;
    margin-left: 50px;
}

.header img{
    width: 300px;
    height: 70px;
}

/*-------------------------------------------------------------------------*/
/*      폼 라인      */

form {
    width:400px;
    height:500px;
    display : flex;
    flex-direction: column;
    align-items:center;
    position : absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) ;
    border: 1px solid rgb(255, 183, 0);
    border-radius: 10px;
}

input[type='text'], input[type='password'] {
    width: 300px;
    height: 40px;
    border : 1px solid rgb(255, 183, 0);
    border-radius:5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

button {
    background-color: rgb(255, 183, 0);
    color : white;
    width:300px;
    height:50px;
    font-size: 17px;
    border : none;
    border-radius: 5px;
    margin : 20px 0 30px 0;
}

#title {
    font-size : 50px;
    margin: 40px 0 30px 0;
}
